<div class=''>
  <div class=''>
    <div class='row'>
      <h1>Wiki for the Masses</h1>
    </div>
  </div>
</div>
<div class=''>
  <div class=''>
    <div class='row'>
      <div class=''>
        <h3>Standard Account <br/> <small>Free</small> </h3>
        <a href="<%= new_user_registration_path %>" class='btn btn-primary btn' role='button'>
          Sign up!
        </a>
      </div>
      <div class=''>
        <h3>Premium Account <br/> <small>$15/mo</small></h3>
        <a href="<%= new_charge_path %>" class='btn btn-primary btn' role='button'>
          Sign up!
        </a>
      </div>
    </div>
  </div>
</div>
