<h1>All Wikis</h1>

<%= button_to 'Create New Wiki', new_wiki_path, method: :get%>

<% @wikis.each do |wiki| %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to (markdown_to_html wiki.title), wiki %>
        </h4>
      </div>
    </div>
<% end %>
